
@model DDHUNG.ApplicationCore.ViewModel.MenuHeaderViewModel


<div class="container">
    <a class="navbar-brand" href="index.html">Vegefoods</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">

            @{
                var lstMenus = Model.ListMenuHeader;


                foreach (var menu in lstMenus)
                {
                    // có dropdown
                    if (menu.IsDropDown == 1)
                    {
                        var lstDropdowns = Model.ListProductCategory.Where(x => x.MenuHeaderId == menu.MenuHeaderId).ToList();

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/@menu.MenuLink" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@menu.MenuHeaderName</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">

                                @foreach (var dropDown in lstDropdowns)
                                {
                                    var urlCategory = dropDown.ProductCategoryLink + "-pc" +  ".html";
                                    <a class="dropdown-item" href="/@urlCategory">@dropDown.ProductCategoryName</a>
                                }

                            </div>
                        </li>

                    }
                    else
                    {
                        <li class="nav-item"><a href="/@menu.MenuLink" class="nav-link">@menu.MenuHeaderName</a></li>
                    }
                }
            }
           
            <li class="nav-item cta cta-colored">
                <a href="/gio-hang.html" class="nav-link">
                    <span>
                        <!-- class="icon-shopping_cart"-->
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </span>[0]</a>
            </li>

        </ul>
    </div>
</div>


